.info-section {
	background-color: var(--primary-color);
	color: var(--white);
	transition: all 0.3s ease;
}
.info-section:hover .info-card:not(:hover) {
	opacity: 0.8;
}
.info-card {
	min-height: 250px;
	transition: all 0.3s ease;
	cursor: pointer;
}
.info-card:hover {
	box-shadow: 0px 0px 12px #002f59;
}
.info-card .card-body .card-text {
	text-align: center;
}
.info-card-icon {
	color: var(--secondary-color);
	font-size: 4rem;
}
.register-btn {
	background-color: var(--secondary-color);
	transition: all 0.3s ease;
}
.register-btn:hover {
	background-color: var(--primary-color);
	transform: scale(1.1);
}
.socials-list li {
	margin-bottom: 1rem;
}

.socials-link {
	color: var(--white);
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	font-size: 1.2rem;
	transition: all 0.3s ease;
}
.socials-link i {
	margin-right: 10px;
	font-size: 2rem;
}
.socials-link:hover {
	transform: translateX(10px) scale(1.1);
}

.socials-link[href*="instagram"]:hover {
	background: linear-gradient(
		to right,
		#f09433,
		#e6683c,
		#dc2743,
		#cc2366,
		#bc1888
		);
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
	}
	.socials-link[href*="facebook"]:hover {
		color: #1877f2;
}

.socials-link[href*="tiktok"]:hover {
	background: linear-gradient(90deg, #25f4ee, #fe2c55);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}
.place-text{
	font-size: 1.3rem;
}

.conferences-list > li {
	margin-bottom: 2rem;
	height: 6rem;
	border-radius: 30px;
	box-shadow: 0px 0px 12px #002f59;
	width: 40%;
	transition: all .3s ease;
	font-size: 2rem;
}
.conferences-list > li:hover {
	transform: scale(1.1);
}
.btn-conference {
	color: var(--white);
	text-decoration: none;
	background-color: var(--tertiary-color);
	transition: all .3s ease;
	padding: .8rem 1.2rem;
	font-size: 1.5rem;
}
.btn-conference:hover {
	background-color: var(--primary-color);
	transform: scale(1.1);
}
.titles{
	font-family: var(--titles);
}
.nav-title {
	color: var(--secondary-color);
	font-size: clamp(1rem, 2.5vw, 1.5rem);
}
@media (max-width: 768px) {
	.btn-header-register {
		width: 130px;
	}
	.socials-link{
		font-size: 1rem;
	}
	.socials-link i{
		font-size: 1.5rem;
	}
	.place-text{
		font-size: 1rem;
	}
	.conferences-list > li {
		width: 100%;
		font-size: 1.2rem;
	}
	.conferences-list > li > a {
		font-size: 1rem;
		padding: 0.5rem .8rem;
	}
}
