:root {
    --primary-color: #2e8acb;
    --secondary-color: #002f59;
    --tertiary-color: #0dc1f2;
    --white: #fff;
    --gray: #333;
    --gray-light: #4e4d4d9c;
    --titles: "Encode Sans Semi Expanded", serif;
    --font: "Asap", serif;
    --errors: #ea4949;
    --success: #60cd64;
}

body {
    font-family: var(--font);
    min-height: 100vh;
    background-color: var(--white);
}
.header {
    background-color: var(--white);
    box-shadow: 0px 0px 12px var(--gray);
}

.nav-logo {
    height: 100px;
}

.header-title {
    color: var(--secondary-color);
    font-size: clamp(1.6rem, 3vw, 2.4rem);
    font-family: var(--titles);
}
.header-date{
    color: var(--secondary-color);
    font-size: clamp(1rem, 2vw, 1.2rem);
    font-family: var(--font);
}
.header-welcome{
    color: var(--secondary-color);
    font-size: clamp(1.2rem, 2.5vw, 2rem);
    font-family: var(--titles);
}
.spinner-container {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    font-size: 0.875rem;
}

.spinner-sm {
    width: 1rem;
    height: 1rem;
    border-width: 0.15em;
}

.form-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    margin: 1.2em 0;
}

.form-group.text {
    position: relative;
}

.form-group.text label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 5px;
    left: 1em;
    transition: all .3s ease;
    pointer-events: none;
    color: var(--gray);
    font-size: 1.2rem;
    background-color: var(--white);
}

.form-container .form-group.text .form-part{
	width: 100%;
	padding: .8em;
	font-size: clamp(1rem, 1.5vw, 1.2rem);
	border: 2px solid var(--gray-light);
	border-radius: 5px;
	outline: none;
	background: transparent;
    transition: all .3s ease;
}

.form-group.text .form-part:focus {
    border-color: var(--primary-color);
    outline: none;
}

.form-group.text .form-part:focus + label,
.form-group.text .form-part:not(:placeholder-shown) + label {
    top: 0;
    transform: translateY(-50%);
    font-size: 1rem;
    color: var(--primary-color);
	background-color: var(--white);
}

.form-check {
    margin-bottom: 1rem;
}

.form-check-label {
    color: var(--gray);
    font-size: 1.1rem;
	cursor: pointer;
	padding-left: 0.5rem;
}
.form-check-input[type="checkbox"], .form-check-input[type="radio"] {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 0.2rem;
    border: 2px solid var(--gray);
    transition: all 0.3s ease;
    border-radius: 50%;
    cursor: pointer;
    appearance: none;
}
.form-check-input[type="checkbox"]:hover, .form-check-input[type="radio"]:hover {
    border-color: var(--primary-color);
}

.error {
    color: var(--errors);
    font-size: clamp(1rem, 1.5vw, 1.2rem);
    margin-bottom: 1.5em;
}

.btn-form {
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 1.2rem;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease;
    width: 100%;
    outline: none;
}

.btn-form[disabled] {
    background-color: var(--gray-light);
    cursor: not-allowed;
}

.btn-form:hover:not([disabled]) {
    background-color: var(--tertiary-color);
}

@media (max-width: 768px) {
	.nav-logo {
		height: 70px;
	}
	
	.main {
		width: 80%;
	}
	
	.logo-container {
		justify-content: center;
	}
}

