.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    border: none;
    background: transparent;
    outline: none;
    color: var(--primary-color);
    padding: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease-in-out; 
}
.toggle-password:hover{
    color: var(--secondary-color);
}
.toggle-password i {
    font-size: 1.3em;
}
.toggle-password:focus{
    outline: none;
}

/* Esto es para el manejo de admins para no crear otro archivo */
.btn-action-admin{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.btn-action-admin.update{
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}
.btn-action-admin.update:hover{
    background: var(--primary-color);
    color: white;
}
.btn-action-admin.delete{
    border: 2px solid var(--errors);
    color: var(--errors);
}
.btn-action-admin.delete:hover{
    background: var(--errors);
    color: white;
}
